.section4{
    width: 95%;
    height: 500px;
    background-color: #f9c7ca;
    border-radius: 5%;
    margin: 0px auto;
}

.section4 header{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    text-align: center;
}

ul.slides{
    position: relative;
    width: 550px;
    height: 400px;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 7%;
    background-color: #eee;
    overflow: hidden;
}

li.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 120px;
    color: #fff;
    transition: 0.5s transform ease-in-out;
}

.slide:nth-of-type(1){
    background-image: url(image/小森林.jpg);
    background-size: 550px 400px;
}
.slide:nth-of-type(2){
    background-image: url(image/311.jpg);
    background-size: 550px 400px;
    left: 100%;
}
.slide:nth-of-type(3){
    background-image: url(image/311-1.jpg);
    background-size: 550px 400px;
    left: 200%;
}

.slide:nth-of-type(4){
    background-image: url(image/交大種子營1.jpg);
    background-size: 550px 400px;
    left: 300%;
}
.slide:nth-of-type(5){
    background-image: url(image/老鼠.jpg);
    background-size: 550px 400px;
    left: 400%;
}
.slide:nth-of-type(6){
    background-image: url(image/資管之夜.jpg);
    background-size: 550px 400px;
    left: 500%;
}

.slide:nth-of-type(7){
    background-image: url(image/黃金考驗營.jpg);
    background-size: 550px 400px;
    left: 600%;
}
.slide:nth-of-type(8){
    background-image: url(image/高中.jpg);
    background-size: 550px 400px;
    left: 700%;
}
.slide:nth-of-type(9){
    background-image: url(image/園遊會.jpg);
    background-size: 550px 400px;
    left: 800%;
}

input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;
}

.controls-visible{
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;

}

.controls-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #eee;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #eee;
}

.slides input[type="radio"]:nth-of-type(1):checked~
.controls-visible label:nth-of-type(1){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(2):checked~
.controls-visible label:nth-of-type(2){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(3):checked~
.controls-visible label:nth-of-type(3){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(4):checked~
.controls-visible label:nth-of-type(4){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(5):checked~
.controls-visible label:nth-of-type(5){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(6):checked~
.controls-visible label:nth-of-type(6){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(7):checked~
.controls-visible label:nth-of-type(7){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(8):checked~
.controls-visible label:nth-of-type(8){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(9):checked~
.controls-visible label:nth-of-type(9){
    background-color: #aa6c6e;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide{
    transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide{
    transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide{
    transform: translateX(-200%);
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .slide{
    transform: translateX(-300%);
}

.slides input[type="radio"]:nth-of-type(5):checked ~ .slide{
    transform: translateX(-400%);
}

.slides input[type="radio"]:nth-of-type(6):checked ~ .slide{
    transform: translateX(-500%);
}

.slides input[type="radio"]:nth-of-type(7):checked ~ .slide{
    transform: translateX(-600%);
}

.slides input[type="radio"]:nth-of-type(8):checked ~ .slide{
    transform: translateX(-700%);
}

.slides input[type="radio"]:nth-of-type(9):checked ~ .slide{
    transform: translateX(-800%);
}

.photo{
    width: 50%;
    height: 400px;
    float: left;
}

h5{
    font-size: 20px;
    font-family: "標楷體";
    text-align: center;
    text-decoration: underline;
}